.input {
  position: relative;
  width: 100%;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  color: inherit;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
  font-size: 24px;
  line-height: 1.4em;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-style: italic;
  color: #e6e6e6;
}

.down-icon {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 22px;
  color: #e6e6e6;
  z-index: 1;
}

.down-icon:hover {
  cursor: pointer;
  color: rgb(121, 121, 121);
}